<md-dialog class="md-content-overflow"
           aria-label="{{_('Demand')}}"
           flex>
  <md-toolbar class="dialog md-hue-3">
    <div class="md-toolbar-tools">
      <h2>{{_('Demand')}}</h2>
      <span flex></span>
      <md-button class="md-icon-button"
                 aria-label="{{_('Close')}}"
                 ng-click="close()">
        <md-icon md-svg-icon="ic_close_24px">
        </md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div layout-margin
         layout-padding>
      <h2 class="md-headline">
        {{ demand.title }}
      </h2>
      <h3 class="md-subhead text-accent"
          ng-if="demand.status == 2">
        {{ _('Canceled') }}
      </h3>
      <h3 class="md-subhead text-accent"
          ng-if="demand.status == 0">
        {{ _('Closed') }}
      </h3>
      <div class="md-padding"
           layout="column">
        <div class="input-container">
          <label class="static-label">{{_('Subject')}}</label>
          <p flex-order="2">{{demand.subject || demand.id}}</p>
        </div>
        <div class="input-container">
          <label class="static-label">{{_('Member Account')}}</label>
          <p flex-order="2">{{demand.member_login || '-'}}</p>
        </div>
        <div class="input-container"
             ng-repeat="field in demand.fields">
          <p class="text-break">
            {{field.label}}{{_(':')}}&nbsp;{{field.value}}
          </p>
        </div>

        <md-input-container flex>
          <label>{{_('Memo')}}</label>
          <textarea name="memo"
                    ng-model="demand.memo"
                    ng-disabled="demand.status != 1"></textarea>
        </md-input-container>
      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions
       layout="row"
       layout-align="space-between center"
       flex-order="3">
    <md-button class="md-icon-button"
               aria-label="{{_('Done')}}"
               ng-disabled="submitted || demand.status != 1"
               ng-click="done()">
      <md-icon md-svg-icon="ic_done_24px">
      </md-icon>
    </md-button>

    <md-button class="md-primary"
               ng-disabled="submitted"
               ng-show="demand.status == 1"
               ng-click="save()">
      {{_('Save')}}
    </md-button>
    <md-button class="md-primary"
               ng-show="demand.status != 1"
               ng-click="close()">
      {{_('Okay!')}}
    </md-button>
  </md-dialog-actions>
</md-dialog>