<div class="view-animate">
  <div layout-gt-sm="row">
    <!-- column -->
    <section flex-gt-sm="45"
             offset-gt-sm="5"
             layout-padding>
      <!-- section header -->
      <header layout-margin>
        <h2 class="md-display-1 text-nowrap"
            vw-max="80">
          {{_('Member')}}
        </h2>
      </header>
      <!-- member -->
      <div layout-margin>
        <div>
          <img class="member-avatar"
               ng-src="{{member.avatar}}"
               ng-if="member.avator" />
          <md-icon class="member-avatar"
                   md-svg-icon="ic_person_24px"
                   ng-if="!member.avator">
          </md-icon>
        </div>
        <div class="input-container">
          <label class="static-label">{{_('Full Name')}}</label>
          <p class="md-title"
             flex-order="2">
            {{member.name}}
          </p>
        </div>
        <div class="input-container">
          <label class="static-label">{{_('Account')}}</label>
          <p flex-order="2">
            {{member.login}}
          </p>
        </div>
        <div class="input-container">
          <label class="static-label">{{_('Member Role')}}</label>
          <p flex-order="2">
            {{member.role.title || 'No Role'}}
          </p>
        </div>
        <div class="input-container">
          <label class="static-label">{{_('Mobile')}}</label>
          <p flex-order="2">
            {{member.mobile || '-'}}
          </p>
        </div>
        <div class="input-container">
          <label class="static-label">{{_('Email')}}</label>
          <p flex-order="2">
            {{member.email || '-'}}
          </p>
        </div>
        <div class="input-container">
          <label class="static-label">{{_('Code')}}</label>
          <p flex-order="2">
            {{member.code || '-'}}
          </p>
        </div>
      </div>
    </section>

    <!-- column -->
    <section flex-gt-sm="45"
             offset-gt-sm="5"
             layout-padding>
      <!-- section header -->
      <header layout-margin>
        <h2 class="md-display-1 text-nowrap"
            vw-max="80">
          {{_('Reservations')}}
        </h2>
      </header>
      <!-- applyments -->
      <div layout-margin>
        <md-input-container>
          <md-button class="md-raised"
                     ng-click="make_applyment()">
            {{_('New Reservation')}}
          </md-button>
        </md-input-container>
        <md-list>
          <md-subheader class="md-no-sticky">
            <span ng-bind-html="_('You have <span class=text-primary>'+
             '%s</span> reservations, <span class=text-primary>%s</span> '+
             'displayed.', total, applyments.length)">
            </span>
          </md-subheader>
          <md-divider></md-divider>
          <!-- items -->
          <div class="anim-item"
               ng-repeat="apply in applyments">
            <md-list-item class="md-3-line" ng-click="open(apply)">
              <div class="md-list-item-text"
                   layout="column">
                <h3 class="text-nowrap"
                    vw-max="65">
                  {{ apply.name || '-'}}
                </h3>
                <p class="text-nowrap"
                   vw-max="65">
                  <span class="text-accent"
                        ng-if="apply.code">
                    [{{ apply.code }}]
                  </span>
                  {{ apply.member_login || '-'}}
                </p>
                <p class="text-nowrap"
                   vw-max="65">
                  {{ apply.message }}
                </p>
              </div>
              <md-icon md-svg-icon="ic_assignment_ind_24px"
                       ng-if="apply.status == 0">
              </md-icon>
              <md-icon md-svg-icon="ic_done_24px"
                       ng-if="apply.status == 1">
              </md-icon>
              <md-icon md-svg-icon="ic_block_24px"
                       ng-if="apply.status == 2">
              </md-icon>
            </md-list-item>
          </div>
        </md-list>
        <div layout="row"
             layout-align="center center"
             ng-if="has_more">
          <md-button class="md-raised"
                     ng-click="more()">
            {{_('More')}}
          </md-button>
        </div>
      </div>
    </section>
  </div>
</div>