<div class="anim-fade noleave"
     ng-show="!gen_mode"
     layout-margin>

  <md-card class="card"
           layout-padding>
    <img ng-src="{{card.meta.sticker}}"
         ng-show="card.meta.sticker" />
    <md-icon class="s120"
             md-svg-icon="ic_local_play_24px"
             ng-show="!card.meta.sticker">
    </md-icon>
    <md-card-content ng-show="card.slug">
      <form name="use_form"
            class="text-center"
            ng-submit="use(display_card)"
            novalidate>

        <div class="md-caption text-primary"
             ng-if="display_card.member_login">
          {{display_card.member_login}}
        </div>
        <div class="md-display-1 text-break"
             ng-class="{'text-warn': display_card._error}">
            {{display_card.code}}
        </div>
        <div class="md-headline text-accent"
             ng-if="display_card.style == 'storeCard'">
          {{display_card.balance|number}}
        </div>
        <div class="md-caption text-warn"
             ng-if="display_card.status == 0">
          {{_('Scrapped')}}
        </div>

        <div class="md-padding"
             ng-show="display_card.status == 1">

          <div class="md-caption"
               ng-if="display_card.duration != null"
               ng-class="{'text-warn': display_card.duration <= 0,
                          'text-accent': display_card.duration > 0}">
            {{_('%s Hours Remain', display_card.duration)}}
          </div>
          <div class="md-caption"
               ng-if="display_card.amount != null && display_card.common"
               ng-class="{'text-warn': display_card.amount <= 0,
                          'text-accent': display_card.amount > 0}">
            {{_('%s in Stock', display_card.amount)}}
          </div>

          <div ng-show="display_card.style == 'storeCard'">
            <md-input-container>
              <label>{{_('Point')}}</label>
              <input name="point"
                     type="number"
                     ng-model="point">
            </md-input-container>
            <div>
              <md-button class="md-primary"
                         type="submit"
                         ng-disabled="!point">
                {{point>0?_('Charge'):_('Spend')}}
              </md-button>
            </div>
          </div>

          <div ng-show="display_card.style != 'storeCard'"
               layout-margin>
            <md-button class="md-primary"
                       type="submit">
              {{_('Use it')}}
            </md-button>
          </div>
        </div>

        <div class="md-padding">
          <p class="md-caption tip">
            {{display_card.updated | dateformat}}
          </p>
        </div>
      </form>

      <div layout="row"
           layout-align="end center"
           ng-if="display_card.slug && !display_card.common">
        <md-button class="md-icon-button"
                   aria-label="{{_('Destroy')}}"
                   ng-click="destroy(display_card)">
          <md-icon md-svg-icon="ic_delete_24px"></md-icon>
        </md-button>
      </div>

    </md-card-content>
  </md-card>
</div>