<div layout-margin>
  <p>
    {{_('Base Code')}}{{_(': ')}}
    <span class="text-primary">
      {{card.base_code}}
    </span>
  </p>
  <p>
    {{_('Style')}}{{_(': ')}}
    {{_(cardstyles[card.style])}}
  </p>
  <p>
    {{_('Usage Mode')}}{{_(': ')}}
    {{card.common?_('Common'):_('Distribution')}}
  </h3>
  <p ng-if="card.duration != undefined">
    {{_('Remain Hours')}}{{_(': ')}}
    {{card.duration}}
  </p>
  <p ng-if="card.amount != undefined">
    {{_('Remain Stock')}}{{_(': ')}}
    {{card.amount}}
  </p>
  <p ng-if="!card.common">
    {{_('Total Distribution')}}{{_(': ')}}
    {{card.count}}
  </p>
  <p>
    {{_('Description')}}{{_(': ')}}
    {{card.meta.description}}
  </p>
</div>