<div class="anim-fade noleave"
     ng-show="!gen_mode"
     layout-margin>

  <md-card class="card"
           layout-padding>
    <img ng-src="{{card.meta.sticker}}"
         ng-show="card.meta.sticker" />
    <md-icon class="s120"
             md-svg-icon="ic_local_play_24px"
             ng-show="!card.meta.sticker">
    </md-icon>
    <md-card-content ng-show="card.slug">
      <form name="use_form"
            layout="column"
            layout-align="start center"
            ng-submit="use(display_card)"
            novalidate>
        <div class="md-caption text-warn"
             ng-if="display_card.status == 0">
          {{_('Scrapped')}}
        </div>
        <div class="md-title"
             ng-if="display_card.status != 0"
             layout-margin>
          <span class="text-warn"
                ng-if="display_card._error">
            {{_('Error')}}
          </span>
        </div>

        <div class="md-caption text-primary"
             ng-if="display_card.member_login">
          {{display_card.member_login}}
        </div>
        <div class="md-display-1 text-break">
            {{display_card.code}}
        </div>
        <div class="md-title text-accent"
             ng-if="display_card.style == 'storeCard'">
          {{display_card.balance}}
        </div>

        <div ng-show="display_card.status == 1"
             layout-margin>
          <div ng-show="display_card.style == 'storeCard'">
            <md-input-container>
              <label>{{_('Credit')}}{{_(': ')}}</label>
              <input name="credit"
                     type="number"
                     ng-model="credit"/>
            </md-input-container>
            <div class="text-center">
              <md-button class="main-nav-btn md-primary"
                         type="submit">
                {{credit>0?_('Charge'):_('Spend')}}
              </md-button>
            </div>
          </div>

          <div ng-show="display_card.style != 'storeCard'"
               layout-margin>
            <md-button class="main-nav-btn md-primary"
                       type="submit">
              {{_('Use it')}}
            </md-button>
          </div>
        </div>

        <div>
          <p class="md-caption tip">
            {{display_card.updated | dateformat}}
          </p>
        </div>
      </form>

    </md-card-content>
  </md-card>
</div>