<div class="view-animate">
  <div layout-gt-sm="row">
    <!-- column -->
    <section flex-gt-sm="45"
             offset-gt-sm="5"
             layout-padding>
      <!-- section header -->
      <header layout-margin>
        <h2 class="md-display-1 text-nowrap"
            vw-max="80">
          {{card.meta.title}}
        </h2>
      </header>
      <!-- info -->
      {% include '_card_detail_info_.html' %}
      <!-- tabs -->
      {% include '_card_detail_tabs_.html' %}
    </section>


    <!-- column -->
    <section flex-gt-sm="45"
             offset-gt-sm="5"
             ng-show="card.slug"
             layout-padding>
      <!-- section header -->
      <header layout-margin>
        <h2 class="md-display-1 text-nowrap"
            vw-max="80">
            {{gen_mode?_('Generated Cards'):_('Display Card')}}
        </h2>
      </header>
      <!-- display card -->
      {% include '_card_detail_display_.html' %}
      <!-- generated cardnum -->
      {% include '_card_detail_generated_.html' %}
    </section>
  </div>
</div>