<div class="view-animate">
  <div layout="column">
    <!-- column -->
    <section layout-padding>
      <!-- section header -->
      <header layout-margin>
        <h2 class="md-title">
          {{_('Cards')}}
        </h2>
      </header>
      <!-- events -->
      <div>
        <md-list>
          <md-subheader class="md-no-sticky">
            <span ng-bind-html="_('You have %s cards.', cards.length)">
            </span>
          </md-subheader>
          <md-divider></md-divider>
          <!-- items -->
          <div class="anim-item"
               ng-repeat="card in cards">
            <md-list-item class="md-2-line"
                          ng-click="open(card)">
              <div class="md-list-item-text"
                   layout="column">
                <h3 class="text-nowrap"
                    vw-max="65">
                  {{ card.meta.title }}
                </h3>
                <p class="text-nowrap"
                   vw-max="65">
                  {{ card.base_code }}
                </p>
              </div>
              <md-icon md-svg-icon="ic_local_play_24px">
              </md-icon>
            </md-list-item>
          </div>
        </md-list>
      </div>
    </section>
  </div>
</div>