<div class="view-animate">
  <div layout="column">
    <!-- column -->
    <section layout-padding>
        <!-- page header -->
        <header layout-margin>
          <h2 class="md-display-1">
            {{_('Events')}}
          </h2>
        </header>
        <!-- events -->
        <md-content>
          <md-list>
            <md-subheader class="md-no-sticky">
              <span ng-bind-html="_('You have <span class=text-primary>%s</span> events.', events.length)">
              </span>
            </md-subheader>
            <md-divider ></md-divider>
            <!-- items -->
            <div class="anim-item md-padding"
                 ng-repeat="event in events">
              <md-list-item class="md-3-line">
                <div class="md-list-item-text" layout="column">
                  <h3>
                    {{ event.title }}
                  </h3>
                  <p>
                    {{event.time || '-'}}
                  </p>
                  <p>
                    {{event.location || '-'}}
                  </p>
                </div>
              </md-list-item>
            </div>
          </md-list>
      </md-content>
    </section>
  </div>
</div>